<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nus.campus.mappers.BuildingMapper">
    <select id="findById" resultType="edu.nus.campus.model.Building">
        SELECT * FROM `building`
        WHERE `id`=#{id};
    </select>

    <select id="findByName" resultType="edu.nus.campus.model.Building">
        SELECT * FROM `building`
        WHERE `name`=#{name};
    </select>

    <select id="findNearStop" parameterType="edu.nus.campus.model.Building" resultType="edu.nus.campus.model.Stop">
        SELECT  `stop`.*, `T`.`priority` AS `priority`
        FROM `stop`
            RIGHT JOIN (SELECT * FROM `near_bus_stop`
                        WHERE `building_id`=#{id}) `T`
            ON `stop`.`id`=`T`.`stop_id`
        ORDER BY `T`.`priority`;
    </select>
</mapper>