<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nus.campus.mappers.UserMapper">
    <select id="findById" resultType="edu.nus.campus.model.User">
        SELECT * FROM `user`
        WHERE `id`=#{id};
    </select>

    <insert id="insert" parameterType="edu.nus.campus.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user` (`username`, `email`)
        VALUES(#{username}, #{email});
    </insert>

    <update id="update" parameterType="edu.nus.campus.model.User">
        UPDATE `user` SET username=#{username}
        WHERE id=#{id};
    </update>

    <delete id="delete" parameterType="edu.nus.campus.model.User">
        DELETE FROM `user` WHERE id=#{id};
    </delete>

    <insert id="insertEvent" parameterType="edu.nus.campus.model.Event">
        INSERT INTO `event` (abstracts, details, time, user_id)
        VALUES (#{abstracts}, #{details}, #{time}, #{user_id});
    </insert>

    <select id="findEventsByUser" parameterType="edu.nus.campus.model.User" resultType="edu.nus.campus.model.Event">
        SELECT event.* FROM `user` INNER JOIN `event`
        ON user.id=event.user_id
        WHERE user.id=#{id}
        <if test=" starttime != null">
            AND `time` &gt; #{starttime}
        </if>
        <if test=" endtime != null">
            AND `time` &lt; #{endtime}
        </if>
        ;
    </select>
</mapper>